resume = true
cleanup = false

conda.enabled = true

profiles {
    local {
        docker.enabled = true
        process {
            executor = 'local'
            queue = 10
            errorStrategy = 'ignore'
            withLabel: small {
                cpus = 1
                memory = '4GB'
            }
            withLabel: medium {
                cpus = 4
                memory = '8GB'
            }
            withLabel: large {
                cpus = 8
                memory = '16GB'
            }
            withLabel: very_large {
                cpus = 16
                memory = '64GB'
            }
        }
    }

    slurm {
        process {
            executor = 'slurm'
            // queue = 'compute9'
            // container = 'singularity'
            errorStrategy = 'retry'
            withLabel: small {
                cpus = 1
                memory = '4GB'
            }
            withLabel: medium {
                cpus = 8
                memory = '16GB'
            }
            withLabel: large {
                cpus = 32
                memory = '64GB'
            }
            withLabel: very_large {
                cpus = 64
                memory = '256GB'
            }
            // withLabel: gpu {
            //     queue = 'ml9'
            //     clusterOptions = '--gres=gpu:tesla:1'
            // }
        }
        // singularity {
        //     enabled = true
        //     autoMounts = true
        //     cacheDir = "singularity_cache"
        //     runOptions = '--containall --no-mount tmp --bind /scratch:/tmp '
        // }
    }

    debug {
        params.debug = false
        trace {
            enabled = true
            overwrite = true
            field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
        }
        timeline {
            enabled = true
            overwrite = true
        }
        report {
            enabled = true
            overwrite = true
        }
        dag {
            enabled = true
            overwrite = true
        }
    }
}
